data/raw/*
data/glyph/*
tokenizers/raw_bpe/*
tokenizers/glyph_bpe/*
models/model_raw/*
models/model_glyph/*
docs/*
!data/raw/.gitkeep
!data/glyph/.gitkeep
!tokenizers/raw_bpe/.gitkeep
!tokenizers/glyph_bpe/.gitkeep
!models/model_raw/.gitkeep
!models/model_glyph/.gitkeep

.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
results.json